.about {
    margin: 114px auto 154px;
}

.about > div > div:first-child {
    max-width: 373px;
}

.about h1, .about h2 {
    color: var(--secondary-4);
}

.about h2 {
    font-weight: 400;
    margin-top: -19px;
}

.about p {
    color: black;
    margin-top: 40px;
    text-align: justify;
}

.imageContainer {
    flex-grow: 6;
}

.restaurantChef {
    position: absolute;
    top: 106px;
    z-index: -100;
    width: 272px;
    height: 336px;
    object-fit: cover;
    object-position: center;
}

.restaurant {
    position: relative;
    left: 164px;
    width: 272px;
    height: 338px;
    object-fit: cover;
    object-position: center;
}