.title {
    font-family: "Markazi Text";
    font-size: 64px;
    font-weight: 400;
}

.subtitle {
    font-family: "Markazi Text";
    font-size: 40px;
    font-weight: normal;
    color: var(--secondary-3);
}

.lead-text {
    font-family: "Karla";
    font-size: 18px;
    font-weight: normal;
    color: var(--secondary-3);
}

.card-title {
    font-family: "Karla";
    font-size: 18px;
    font-weight: bold;
}

.paragraph-text {
    font-family: "Karla";
    font-size: 16px;
    font-size: 400;
    color: var(--primary-1);
}